.homeContainer{
display:flex;

}

.menuTop{
height: 100px;
width: 100%;
background-color: rgb(227, 225, 225);
display:flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
position: fixed;

}

.menuBottom{
height: 100px;
width: 100%;
background-color: rgb(227, 225, 225);
display:flex;
position: absolute;
bottom: 0;
align-content: center;
justify-content: center;
}

.addNote{
vertical-align: middle;
margin-top: 20px;


}