.card {
    box-shadow: 0 4px 8px 0 rgb(85, 85, 94);
    background-color: rgb(251, 251, 251);
    width:250px;
    height: 250px;
    word-wrap: break-word;
    white-space: normal;
   
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(26, 24, 24);
}

.textContainer{
    width: 90%;
    margin:0 5%;
    height: 100px;
    overflow-y: scroll;
    text-align: center;
    justify-self: center;
}

.icons{
    margin-right: 8%;
}