.loginContainer{
display:flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.imgContainer{
margin-top: 50px;
margin-bottom: 50px;
}

.welcomeContainer{
margin-bottom: 50px;
}
.authContainer{
display: flex;
text-align: center;
align-items:center;
justify-content: center;

}